.pipeline-col {
    padding: 0;
}

.Location-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.Location-info p {
    font-family: 'Poppins', sans-serif;
    padding: 2px 12px;
    border-radius: 10px;
    background-color: #3F3B3B;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.pipeline-para {
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.pipeline-para-last {
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 70%;
}

.pipline-sub-heading {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


/* media queiry ---- */

@media (max-width:480px) {
    .pipeline-detail-row {
        flex-direction: column;
    }
    .pipeline-para-last {
        width: 100%;
        margin-bottom: 20px !important;
    }
    .pipelin-last-img {
        margin-bottom: 20px !important;
    }
    
}

@media (min-width:480px) and (max-width:840px) {
    .pipeline-hero-row {
        justify-content: center;
        align-items: center;
    }
    .pipeline-para-last {
        width: 100%;
    }
}
