@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

.pd-hero-container {
    margin-top: 7.5%;
    height: auto;
    width: 100%;
    background-color: #3F3B3B;
}

.answerbook-hero-col{
    padding: 0;
}

.pd-hero-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.pd-hero-subtitle {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.answerbook-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.key-feature-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.platform-info p {
    font-family: 'Poppins', sans-serif;
    padding: 2px 12px;
    border-radius: 10px;
    background-color: #3F3B3B;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.duration-info p {
    font-family: 'Poppins', sans-serif;
    padding: 2px 12px;
    border-radius: 10px;
    background-color: #3F3B3B;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.Client-info p {
    font-family: 'Poppins', sans-serif;
    padding: 2px 12px;
    border-radius: 10px;
    background-color: #3F3B3B;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.pd-about-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.pd-about-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 5 00;
}

.platform-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.duration-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.Client-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.technology-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.technologie-info {
    flex-wrap: wrap;
}

.technologie-info p {
    font-family: 'Poppins', sans-serif;
    padding: 2px 12px;
    border-radius: 10px;
    background-color: #3F3B3B;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
}

.features-container-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2rem;
    max-width: 90%;
}
.feature-heading-text{
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
    max-width: 85%;
    opacity: 0.8;
}
.feature-details{
    margin-bottom: 0.5rem;
}
.feature-heading {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.6px;
    font-weight: 300;
    max-width: 85%;
    opacity: 0.8;
    position: relative;
    margin-left: 10px;
}
.feature-heading::before{
    position: absolute;
    content: '';
    background-color: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: -18px;
    top: 11px;
}

.ans-font {
    font-family: 'Poppins', sans-serif;
}

.title-h2{
    color: #e7a31e;
}

.feature-icon i {
    color: #e7a31e;
}

.feature-info p {
    font-family: 'Poppins', sans-serif;
    color: darkgrey;
    font-size: 14px;
}


/* media queiry ---- */

/* for mobiles ----- */

@media (max-width:480px) {
    .pd-hero-container {
        margin-top: 20%;
    }

    .pd-hero-title {
        margin-bottom: 0px;
    }

    .pd-hero-subtitle{
        text-align: center;
    }
    .answerbook-container {
        margin-top: 20px; 
    }
    .hero-col {
        align-items: center !important;
        padding-left: 0rem !important;
        padding-top: 20px;
    }
    .answerbook-row {
        flex-direction: column;
    }
    .answerbook-sm-font {
        font-size: 14px;
    }
    .feature-heading {
        font-size: 15px;
        width: 280px;
    }
    .technologie-info {
        flex-wrap: wrap;
    }
}

/* for tab ----- */
@media (min-width:480px) and (max-width:840px) {
    .pd-hero-container {
        margin-top: 14%;
    }

    .hero-col {
        align-items: center !important;
        padding-left: 0rem !important;
        height: 150px;
    }
    .pd-hero-subtitle{
        font-size: 25px;
    }
    .feature-row {
        flex-direction: column;
    }
}
