.bryllance-hero-col {
    padding: 0;
}

.bryllance-container {
    margin-top: 50px;
}

.bryllance-heding {
    text-align: start;
    font-size: 28px;
}

.bryllance-para {
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
}

.bryllance-icon {
    height:40px;
    width: 40px;
}

.bryllance-sub-heading {
    width: 380px;
}

@media (max-width:480px) {
    .bryllance-container {
        margin-top: 20px;
    }
    .bryllance-icon {
        height:auto;
        width: auto;
    }
    .bryllance-heding {
        font-size: 20px;
    }
}
@media (min-width:480px) and (max-width:840px) {
    .bryllance-hero-row {
        justify-content: center;
        align-items: center;
    }
    .bryllance-hero-subtitle {
        font-size: 14px;
    }

}