.eccocar-col {
    padding: 0;
}

.eccocar-container {
   padding-top: 50px;
   padding-bottom: 50px;
}

.Location-info p {
    font-family: 'Poppins', sans-serif;
    padding: 2px 12px;
    border-radius: 10px;
    background-color: #3F3B3B;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.Location-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.eccocar-about {
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.eccocar-icon-width {
    width: 50px;
    height: 50px;
}

.eccocar-mobile-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eccocar-mobile-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.eccocar-mobile-right p {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin: 20px 0;
}
.eccocar-mobile-right p::before{
    display: none;
}

.eccocar-mobile-right h3 {
    color: #FEB062;
}

.last-section p {
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
}

.feature-heading {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
}

.eccocar-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px !important;
    text-align: start;
    width: 270px;
}

.eccocar-sm-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px !important;
}

/* media queiry ---- */

/* for mobiles ----- */

@media (max-width:480px) {
    .eccocar-detail-row {
        flex-direction: column;
    }

    .white-font {
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
    }
}

.eccocar-project-details{
    padding: 50px 0 20px!important;
}

.carousel-black-section{
    padding: 50px 0;
}
.carousel-black-section h3{
    color: #fff;
    text-align: left;
}
.carousel-black-section .carousel-indicators{
    bottom: -40px;
}
.eccocar-last-section{
    padding: 50px 0;
}