/* Project Details Page */

.pd-hero-left-section {
    background-image: url("../projects/answerbook/Detailed-Student-Info.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.pd-hero-right-section {
    background-image: url("../projects/answerbook/Register-Textbook.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}