

.remedo-col{
    padding: 0;
}
.remedo-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem !important;
}
.remedo-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.Location-info p {
    font-family: 'Poppins', sans-serif;
    padding: 2px 12px;
    border-radius: 10px;
    background-color: #3F3B3B;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.Location-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.remedo-about {
    line-height: 28px;
}
.remedo-para {
    font-weight: 400;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.remedo-icon {
    height:40px;
    width: 40px;
}



/* media queiry ---- */

@media (max-width:480px)  {
    .remedo-row {
        flex-direction: column;
    }
    .remedo-hero-img {
        height: 26vh !important;
    }
}

@media (min-width:480px) and (max-width:840px) {
    .remedo-row {
        flex-direction: column;
    }
    .remedo-col {
        width: 100%;
    }
}