.sonetel-col {
    padding: 0;
}

.sonetel-container {
    margin-top: 40px;
    padding: 50px 0;
}

.sonetel-para {
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
}

.sonetel-icon {
    height:40px;
    width: 40px;
}

.sonetel-sub-heading {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    font-weight: 300;
    width: 70%;
    text-align: start;
}

.sonetel-last-section {
    margin: 30px ;
}


@media (max-width:480px) {
    .sonetel-container {
        margin-top: 20px;
    }
    .sonetel-detail-row {
        flex-direction: column;
    }
    .shopout-feature {
        text-align: center !important;
    }
    
}